# Root folders
#PHOTOS_ROOT=<Path to Photos>
#EXPORTS_ROOT=<Path To Export>

# Optional filters
INGEST_EXTS=.jpg,.jpeg,.png,.tif,.tiff,.webp


# Test DB
#DB_HOST=<Host>
#DB_PORT=<Port>
#DB_USER=<usrname>
#DB_PASSWORD=<password>
#DB_NAME=<db_Name>